- 
  const menus = [
    {
      name: "会社概要",
      url: `${path}/about/index.html`
    },
        {
      name: "お知らせ",
      url: `${path}/news/index.html`
    },
    {
      name: "お問い合わせ",
      url: `${path}/contact/index.html`
    },
  ];

header.header#header
  .header__inner.inner
    h1.header__logo: a(href=`${path}/index.html`) Logoテスト
    nav.header__nav
      each menu in menus
        a.header__link(href=`${menu.url}`) #{menu.name}
  include ../component/_accordion